td, th{
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    border: 1px solid gray;
    /*border-radius: 5px;*/
}
table{
    border-collapse: collapse;
    width: 100%;
}td{
    background-color: lightgray;
    width: 15%;
}